<p-dialog
  [(visible)]="visible"
  [modal]="true"
  [closable]="false"
  [style]="{ width: '400px' }"
>
<ng-template pTemplate="header">
  <div class="flex items-center gap-2 text-lg font-bold text-gray-800">
    {{ title }}
  </div>
</ng-template>

  <div class="py-4 text-center">
    {{ message }}
  </div>

  <ng-template pTemplate="footer">
    <button pButton label="Cancel" (click)="close()"></button>
    <button pButton label="Confirm" class="p-button-danger" (click)="confirm()"></button>
  </ng-template>
</p-dialog>