<div>
    <h1 class="text-xl font-bold text-gray-800 dark:text-white tracking-tight mb-4">Schedule Management</h1>

  <sti-data-table
    title="Schedule"
    subtitle=""
    [value]="rows"
    [columns]="cols"
    [showSelection]="true"
    [(selection)]="selectedRows"
    [loading]="loading"
    [paginator]="true"
    [totalRecords]="total"
    [first]="first"
    [(rows)]="rowsPerPage"
    [rowsPerPageOptions]="[12, 25, 50]"
    (pageChanged)="onPageChanged($event)"
    [showColumnFilters]="true"
    [showActions]="true"
    [actions]="actions"
    (rowClicked)="onRow($event)"
    (actionClicked)="onAction($event)"
    [showImportCsv]="true"
    [showAdd]="true"
    [showDelete]="true"
    (importCsvClicked)="openImportCsv()"
    (addClicked)="openAddModal()"
    (deleteClicked)="openDeleteModal()"
  ></sti-data-table>
</div>

<sti-schedule-modal
  (onSuccess)="onModalSuccess()"
  (onCancel)="onModalCancel()"
></sti-schedule-modal>

<sti-view-details
  [visible]="showViewDetails"
  (visibleChange)="showViewDetails = $event"
  [config]="scheduleConfig">
</sti-view-details>

<sti-confirm-dialog
  (onConfirm)="confirmDelete()"
  (onCancel)="handleCancelDelete()"
></sti-confirm-dialog>