<p-dialog
  [(visible)]="visible"
  (onShow)="onDialogShown()"
  [modal]="true"
  [draggable]="false"
  [resizable]="false"
  [closable]="true"
  [dismissableMask]="true"
  [style]="{ width: 'min(500px, 95vw)' }"
  [contentStyle]="{ 'max-height': '78vh', overflow: 'auto' }"
  (onHide)="close()"
>
  <ng-template pTemplate="header">
    <div class="w-full flex items-center justify-center">
      <div class="text-lg font-bold text-blue-600">{{ dialogTitle }}</div>
    </div>
  </ng-template>

  <form #sectionForm="ngForm" (ngSubmit)="onSave(sectionForm)" class="p-4">
    <div class="space-y-5">
      <div>
        <label class="block text-sm font-semibold text-slate-700 mb-2">
          <span class="text-red-600 mr-1">*</span> Section Name:
        </label>

        <input
          pInputText
          class="w-full"
          name="section_name"
          [(ngModel)]="section_name"
          [disabled]="mode === 'VIEW'"
          #sectionNameCtrl="ngModel"
          required
          placeholder="Input Section Name"
          [ngClass]="{
            'ng-invalid ng-dirty':
              sectionNameCtrl.invalid &&
              (sectionNameCtrl.touched || submitted)
          }"
        />

        <p
          class="mt-1 text-xs text-rose-600"
          *ngIf="sectionNameCtrl.invalid && (sectionNameCtrl.touched || submitted)"
        >
          Section Name is required.
        </p>
      </div>
    </div>

    <!-- Footer -->
 <div
  *ngIf="mode !== 'VIEW'"
   class="flex justify-end gap-3 mt-6">

   <button
     pButton
     type="button"
     label="Cancel"
     class="!bg-slate-100 !border-slate-300 !text-slate-700 hover:!bg-slate-200"
     (click)="close()">
  </button>

   <button
     pButton
    type="submit"
     [label]="mode === 'ADD' ? 'Add Record' : 'Update Record'"
     class="!bg-blue-600 !border-blue-600 !text-white hover:!bg-blue-700">
  </button>

 </div>
  </form>
</p-dialog>