<div class="space-y-4">
  <div>
    <h1 class="text-xl font-bold text-gray-800 dark:text-white tracking-tight">
      Announcement Management
    </h1>
  </div>

  <sti-data-table
    [title]="'Announcement List'"
    [value]="rows"
    [columns]="cols"
    [actions]="actions"
    [loading]="loading"
    [rows]="rowsPerPage"
    [first]="first"
    [totalRecords]="total"
    [showSelection]="true"
    [selection]="selectedRows"
    (selectionChange)="selectedRows = $event"
    [showColumnFilters]="true"
    [showActions]="true"
    [showAdd]="true"
    [showDelete]="true"
    [addLabel]="'Add Announcement'"
    [deleteLabel]="'Delete'"
    (rowClicked)="onRow($event)"
    (actionClicked)="onAction($event)"
    (pageChanged)="onPageChanged($event)"
    (addClicked)="openAddModal()"
    (deleteClicked)="openDeleteModal()"
  >
  </sti-data-table>

  <sti-announcement-modal
    (onSuccess)="onModalSuccess()"
    (onCancel)="onModalCancel()"
  ></sti-announcement-modal>

  <sti-confirm-dialog
    (onConfirm)="confirmDelete()"
    (onCancel)="handleCancelDelete()"
  ></sti-confirm-dialog>
</div>
