<main class="mx-auto w-full space-y-8 animate-fadeIn">
  <div class="space-y-2 text-center md:text-left">
    <h2 class="text-xl font-black tracking-tighter text-blue-600 dark:text-blue-400">
      Student Attendance
    </h2>
    <p class="text-slate-500 dark:text-slate-400 font-medium text-sm">
      Monitor and update student attendance records
    </p>
  </div>

  <div class="flex px-4 sm:px-6 pb-6">
    <div class="w-full space-y-6">
      <sti-data-table
        [title]="'Student Attendance Records'"
        [subtitle]="'List of students attendance per subject'"
        [value]="attendanceRecords"
        [columns]="columns"
        [actions]="actions"
        [loading]="loading"
        [striped]="true"
        [rowHover]="true"
        [showColumnFilters]="false"
        [showActions]="true"
        [showImportCsv]="false"
        [showAdd]="false"
        [showDelete]="false"
        [showSelection]="false"
        [paginator]="true"
        [rows]="rows"
        [first]="first"
        [totalRecords]="totalRecords"
        [lazy]="false"
        [rowsPerPageOptions]="[12, 25, 50]"
        (rowClicked)="onRowClicked($event)"
        (pageChanged)="onPageChanged($event)"
        (actionClicked)="onActionClicked($event)"
      >
      </sti-data-table>
    </div>
  </div>
</main>