<div class="rounded-2xl border border-gray-200 bg-white p-4 shadow-sm dark:border-neutral-800 dark:bg-neutral-900">

  <!-- HEADER -->
  <div class="flex justify-end gap-2 border-b border-slate-200 p-4 dark:border-slate-800"
       *ngIf="showAdd || showDelete">

<div class="flex w-full md:w-auto justify-end gap-2" *ngIf="showAdd || showDelete">

    <!-- ADD -->
    <button
      *ngIf="showAdd"
      type="button"
      class="cursor-pointer inline-flex items-center gap-2 rounded-lg bg-blue-600 px-3 py-2 text-sm font-semibold text-white hover:bg-blue-700"
      (click)="onAdd()"
    >
      <i class="pi pi-plus"></i>
      {{ addLabel }}
    </button>

    <!-- DELETE -->
    <button
      *ngIf="showDelete"
      type="button"
      class="cursor-pointer inline-flex items-center gap-2 rounded-lg bg-red-600 px-3 py-2 text-sm font-semibold text-white hover:bg-red-700"
      (click)="onDelete()"
    >
      {{ deleteLabel }}
    </button>

  </div>
</div>

  <!-- TABLE -->
  <p-table
    [value]="value"
    [columns]="columns"
    [(selection)]="selectedRows"
    dataKey="id"
    [paginator]="paginator"
    [rows]="rows"
    [loading]="loading"
    responsiveLayout="scroll"
    styleClass="p-datatable-sm"
    [tableStyle]="{ 'min-width': '60rem' }"
    [(selection)]="selection"
    (selectionChange)="selectionChange.emit($event)"
  >

    <!-- HEADER -->
    <ng-template pTemplate="header" let-columns>
      <tr>

        <!-- CHECKBOX -->
        <th style="width: 3rem">
            <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
        </th>

        <!-- DYNAMIC COLUMNS -->
        <th *ngFor="let col of columns"
            [style.width]="col.width"
            class="bg-gray-50 text-sm font-semibold">

         <div class="flex items-center gap-2">

            {{ col.header }}

            <!-- FILTER -->
            <p-columnFilter
              *ngIf="!['image_paths', 'actions'].includes(col.field)"
              [field]="col.field"
              display="menu"
              [showMatchModes]="false"
              [showOperator]="false"
              [showAddButton]="false">
            </p-columnFilter>

          </div>

        </th>

      </tr>
    </ng-template>

    <!-- BODY -->
    <ng-template pTemplate="body" let-rowData let-columns="columns">
      <tr>

        <!-- CHECKBOX -->
        <td>
          <p-tableCheckbox [value]="rowData"></p-tableCheckbox>
        </td>

        <!-- CELLS -->
        <td *ngFor="let col of columns">

          <ng-container [ngSwitch]="col.field">

            <!-- ACTIONS -->
            <ng-container *ngSwitchCase="'actions'">
              <div class="flex justify-center gap-2">

                <button
                  pButton
                  type="button"
                  icon="pi pi-pencil"
                  severity="warn"
                  text
                  rounded
                  size="small"
                  (click)="fireAction('edit', rowData, $event)">
                </button>

                <button
                  pButton
                  type="button"
                  icon="pi pi-trash"
                  severity="danger"
                  text
                  rounded
                  size="small"
                  (click)="fireAction('delete', rowData, $event)">
                </button>

              </div>
            </ng-container>

            <!-- IMAGES -->
            <ng-container *ngSwitchCase="'image_paths'">
              <div class="flex gap-2 flex-wrap">
                <p-image
                  *ngFor="let img of getVisibleImages(rowData, col)"
                  [src]="img"
                  [preview]="true"
                  imageClass="w-14 h-14 rounded-lg object-cover">
                </p-image>
              </div>
            </ng-container>

            <!-- DATE -->
            <ng-container *ngSwitchCase="'create_at'">
              {{ formatCellDate(getCellValue(rowData, col)) }}
            </ng-container>

            <!-- DEFAULT -->
            <ng-container *ngSwitchDefault>
              {{ getCellValue(rowData, col) || '-' }}
            </ng-container>

          </ng-container>

        </td>

      </tr>
    </ng-template>

    <!-- EMPTY -->
    <ng-template pTemplate="emptymessage">
      <tr>
        <td [attr.colspan]="columns.length + 1" class="text-center p-4">
          No records found.
        </td>
      </tr>
    </ng-template>

  </p-table>
</div>