<p-dialog
  [(visible)]="visible"
  (onShow)="onDialogShown()"
  (onHide)="close()"
  [modal]="true"
  [draggable]="false"
  [resizable]="false"
  [closable]="true"
  [dismissableMask]="true"
  [style]="{ width: 'min(900px, 95vw)' }"
  [contentStyle]="{ 'max-height': '85vh', overflow: 'auto' }"
>
  <!-- HEADER -->
  <ng-template pTemplate="header">
    <div class="flex items-center justify-center w-full">
      <div  class="text-lg font-bold text-blue-600">
        {{ dialogTitle }}
      </div>
    </div>
  </ng-template>

  <!-- FORM -->
  <form
    #scheduleForm="ngForm"
    (ngSubmit)="onSave(scheduleForm)"
    class="p-4"
  >

  <!-- GRID START -->
  <div class="grid grid-cols-1 md:grid-cols-2 gap-6">

    <!-- COURSE -->
    <div>
      <label class="block mb-2 text-sm font-semibold text-slate-700">
        <span class="mr-1 text-red-600">*</span> Course
      </label>

      <p-select
        class="w-full"
        name="course_id"
        [(ngModel)]="course_id"
        #courseCtrl="ngModel"
        [options]="courses"
        optionLabel="label"
        optionValue="value"
        [disabled]="mode === 'VIEW'"
        placeholder="Select Course"
        required>
      </p-select>

      <p class="mt-1 text-xs text-rose-600"
      *ngIf="courseCtrl.invalid && (courseCtrl.touched || submitted)">
      Course is required.
      </p>
    </div>

    <!-- SECTION -->
    <div>
      <label class="block mb-2 text-sm font-semibold text-slate-700">
        <span class="mr-1 text-red-600">*</span> Section
      </label>

      <p-select
       class="w-full"
       name="section_id"
      [(ngModel)]="section_id"
      #sectionCtrl="ngModel"
      [options]="sections"
      optionLabel="label"
      optionValue="value"
      [disabled]="mode === 'VIEW'"
      placeholder="Select Section"
      required>
      </p-select>
    </div>

    <!-- PROFESSOR -->
    <div>
      <label class="block mb-2 text-sm font-semibold text-slate-700">
        <span class="mr-1 text-red-600">*</span> Professor
      </label>

      <p-select
        class="w-full"
        name="professor_id"
        [(ngModel)]="professor_id"
        #professorCtrl="ngModel"
        [options]="professors"
        optionLabel="label"
        optionValue="value"
        [disabled]="mode === 'VIEW'"
        placeholder="Select Professor"
        required>
      ></p-select>
    </div>

    <!-- SUBJECT -->
    <div>
      <label class="block mb-2 text-sm font-semibold text-slate-700">
        <span class="mr-1 text-red-600">*</span> Subject
      </label>

      <p-select
        class="w-full"
        name="subject_id"
        [(ngModel)]="subject_id"
        #subjectCtrl="ngModel"
        [options]="subjects"
        optionLabel="label"
        optionValue="value"
        [disabled]="mode === 'VIEW'"
        required
        placeholder="Select Subject"
      
      ></p-select>
    </div>

    <!-- DAY -->
    <div>
      <label class="block mb-2 text-sm font-semibold text-slate-700">
        <span class="mr-1 text-red-600">*</span> Day
      </label>

      <p-select
        class="w-full"
        name="day"
        [(ngModel)]="day"
        #dayCtrl="ngModel"
        [options]="days"
        optionLabel="label"
        optionValue="value"
        [disabled]="mode === 'VIEW'"
        required
        placeholder="Select Day"
    
      ></p-select>
    </div>

    <!-- START TIME -->
    <div>
      <label class="block mb-2 text-sm font-semibold text-slate-700">
        <span class="mr-1 text-red-600">*</span> Start Time
      </label>

      <p-datepicker
        name="start_time"
        [(ngModel)]="start_time"
        [disabled]="mode === 'VIEW'"
        #startTimeCtrl="ngModel"
        [required]="true"
        [showTime]="true"
        timeOnly="true"
        hourFormat="12"
        placeholder="Select Start Time"
        class="w-full"
        inputStyleClass="w-full"
     ></p-datepicker>
    </div>

    <!-- END TIME -->
    <div>
      <label class="block mb-2 text-sm font-semibold text-slate-700">
        <span class="mr-1 text-red-600">*</span> End Time
      </label>

      <p-datepicker
        name="end_time"
        [(ngModel)]="end_time"
        [disabled]="mode === 'VIEW'"
        #startTimeCtrl="ngModel"
        [required]="true"
        [showTime]="true"
        timeOnly="true"
        hourFormat="12"
        placeholder="Select End Time"
        class="w-full"
        inputStyleClass="w-full"
     ></p-datepicker>
    </div>

    <!-- ROOM -->
    <div>
      <label class="block mb-2 text-sm font-semibold text-slate-700">
        <span class="mr-1 text-red-600">*</span> Room
      </label>

      <input
        pInputText
        name="room"
        [(ngModel)]="room"
        [disabled]="mode === 'VIEW'"
        #roomCtrl="ngModel"
        class="w-full"
        required
        placeholder="Input Room Number/Name"
      />
    </div>

  </div>


  <!-- LOADING -->
  <div
  *ngIf="mode !== 'VIEW'"
   class="flex justify-end gap-3 mt-6">

   <button
     pButton
     type="button"
     label="Cancel"
     class="!bg-slate-100 !border-slate-300 !text-slate-700 hover:!bg-slate-200"
     (click)="close()">
  </button>

   <button
     pButton
    type="submit"
     [label]="mode === 'ADD' ? 'Add Record' : 'Update Record'"
     class="!bg-blue-600 !border-blue-600 !text-white hover:!bg-blue-700">
  </button>

 </div>

  </form>
</p-dialog>